
.btn {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}
  

.fig {
  text-align: center;
  padding: 5px 5px 1px 5px;
  display: inline-flex;
  
  border: 1px solid #f2eded;
  /* margin: 0 10% 0 10%; */
  border-radius: 5px;
}
.fig_around {
  text-align: center;
}

