.visible {
  /* display: inline-block; */
  border: 1px solid #fcf9f9;
  /* margin: 0 10% 0 10%; */
  border-radius: 5px;
  padding: 0px;
  float:left;
}
.hidden {
  display: none;
}

.visibleIcon {
  display: inline-block;
}

.name {
  display: inline-block;
  text-align: center;
  
  vertical-align: top;
  color: #fff;

}
