#app {
  margin: 0;
}
body {
  width: 100%;
  margin: 0;
}
html {
  background-color: rgb(67, 60, 60);
}
header {
  background-color: rgb(167, 150, 150);
}
* {
  margin: 0;
}
img {
  width: 100px;
  height: auto;
}
h6 {
  margin: 0;
  padding: 0;
}
